#image{
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
  }

  p{
    text-align: justify;
    font-size: 20px;
  }

  #img-caption{
    text-align: center;
  }